#home-page{
    background: linear-gradient(102.3deg, rgb(147, 39, 143) 5.9%, rgb(234, 172, 232) 64%, rgb(246, 219, 245) 89%);
    border: 1px solid black;
}
h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 240px;
    margin-left: 200px;
    margin-right: 480px;
    margin-bottom:240px;

}
#name{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top: 275px;
    left: 250px;
}
#home-image{
    height: 600px;
    width: auto;
    float: right;
    background-color: transparent;
    position: absolute;
    top: 70px;
    right: 60px;
    background-color: transparent;
    background-image: none;
}
#description{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: absolute;
    top: 380px;
    left: 410px;
   
}
